<app-shared-loader *ngIf="loading$ | async"></app-shared-loader>
<div class="dialog-wrapper">
  <div class="container border rounded p-4">
    <h2 class="text-center">{{ 'Ingredient Details' | translate }}</h2>
    <form [formGroup]="ingredientForm" class="container my-4">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">{{ 'Name' | translate }}:</label>
            <input type="text" id="name" placeholder="{{ 'Enter ingredient name' | translate }}" formControlName="name" class="form-control">
          </div>
        </div>
      </div>

      <div *ngIf="!isReadOnly" class="row mt-2">
        <div class="col">
          <div class="form-group">
            <label for="photo">{{ 'Photo' | translate }}:</label>
            <input type="file" id="photo" (change)="onFileSelected($event)" class="form-control">
          </div>
        </div>
      </div>
    </form>

    <button
      class="btn btn-primary w-100 mt-3"
      (click)="submitDialog()">
      {{ 'Save' | translate }}
    </button>
    <button
      mat-raised-button
      class="w-100 mt-1"
      color="warn"
      (click)="closeDialog()">
      {{ 'Go Back' | translate }}
    </button>
    <button
      *ngIf="(ingredient$ | async) && (hasAdminPermission$ | async)"
      mat-raised-button
      class="w-100 mt-1"
      color="warn"
      (click)="deleteIngredient()">
      {{ 'Delete Ingredient' | translate }}
    </button>
  </div>
</div>
