<app-shared-loader *ngIf="loading$ | async"></app-shared-loader>

<div class="dialog-wrapper overflow-x-hidden">
  <div class="container border rounded p-4">
    <h2 class="text-center border-1 border-bottom pb-2">{{ 'Menu Details' | translate }}</h2>
    <form class="mt-4" [formGroup]="menuForm">
      <div class="d-flex justify-content-between gap-3">
        <div class="form-group col">
          <label for="name">{{ 'Menu Name' | translate }}:</label>
          <input type="text" id="name" formControlName="name" placeholder="{{ 'Type menu name' | translate }}" class="form-control">
        </div>
        <div class="form-group col">
          <label for="name">{{ 'Menu Photo' | translate }}:</label>
          <input type="file" id="photo" (change)="onFileSelected($event)" class="form-control">
        </div>
      </div>
      <div class="d-flex justify-content-between gap-3">
        <div class="col">
          <label for="recipe">{{ 'Select Recipe' | translate }}:</label>
          <select id="recipe" class="form-control" [formControl]="recipeControl">
            <option disabled [value]="null" selected>{{ 'Select recipe' | translate }}</option>
            <option
              *ngFor="let recipe of (recipeOptions$ | async)"
              [value]="recipe.id">
              {{ recipe.name | translate }}
            </option>
          </select>
        </div>
      </div>

      <h3 class="mt-3">{{ 'Recipes' | translate }}:</h3>
      <div formArrayName="recipes" class="border-1 border-bottom pb-2">
        <div *ngFor="let recipe of recipesControl.value; let i = index" class="card mt-3">
          <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            {{ recipe.name | translate }}
            <button class="btn btn-danger" (click)="recipesControl.removeAt(i); menuForm.markAsDirty()">X</button>
          </div>
          <div class="card-body text-start d-flex">
            <table>
              <tr>
                <td>{{ 'Duration' | translate }}: {{ recipe.secondsDuration | secondsToTime }}</td>
              </tr>
              <tr>
                <td class="pe-5">{{ 'Difficulty' | translate }}: {{ recipe.complexity | translate }}</td>
                <td>{{ 'Created By' | translate }}: {{ recipe.authorUsername | translate }}</td>
              </tr>
              <tr>
                <td class="pe-5">{{ 'Price' | translate }}: {{ recipe.productsCost | currency: '₴' }}</td>
                <td>{{ 'Created At' | translate }}: {{ recipe.createdAt * 1000 | date }}</td>
              </tr>
            </table>
          </div>
        </div>

        <ng-container *ngIf="!recipesControl.length" [ngTemplateOutlet]="emptyPlaceholder"></ng-container>
      </div>

      <button
        class="btn btn-primary w-100 mt-3"
        [disabled]="menuForm.invalid || menuForm.pristine || !recipesControl.value.length"
        (click)="submitDialog()">
        {{ 'Save' | translate }}
      </button>
      <button
        mat-raised-button
        class="w-100 mt-1"
        color="warn"
        (click)="closeDialog()">
        {{ 'Go Back' | translate }}
      </button>
      <button
        *ngIf="(menu$ | async)"
        mat-raised-button
        class="w-100 mt-1"
        color="warn"
        (click)="deleteMenu()">
        {{ 'Delete Menu' | translate }}
      </button>
    </form>
  </div>
</div>

<ng-template #emptyPlaceholder>
  <span>{{ 'No items selected' | translate }}</span>
</ng-template>
