<app-shared-loader *ngIf="loading$ | async"></app-shared-loader>
<main class="card text-start dialog-wrapper">
  <div class="card-body p-4">
    <h1 class="card-title text-center">Sign up</h1>
    <form>
      <label for="username">Email:</label>
      <input class="form-control mb-4" type="email" name="username" id="username" placeholder="example@mail.com" required>

      <label for="password">Password:</label>
      <input class="form-control mb-3" type="password" name="password" id="password" placeholder="Enter your password" required>

      <div class="row">
        <div class="col-6">
          <label for="first-name">First name:</label>
          <input class="form-control mb-3" type="text" name="first-name" id="first-name" placeholder="John" required>
        </div>
        <div class="col-6">
          <label for="last-name">Last name:</label>
          <input class="form-control mb-3" type="text" name="last-name" id="last-name" placeholder="Doe" required>
        </div>
      </div>

      <label for="photo">Upload photo:</label>
      <input class="form-control" type="file" name="photo" (change)="onFileSelected($event)" id="photo" accept="image/*">
    </form>

    <button
      mat-raised-button
      class="w-100 mt-3"
      color="primary"
      [disabled]="form.invalid || form.pristine"
      (click)="submitDialog()">
      Save
    </button>
    <button
      mat-raised-button
      class="w-100 mt-1"
      color="warn"
      (click)="closeDialog()">
      Go Back
    </button>
  </div>
</main>

