<app-shared-loader *ngIf="loading$ | async"></app-shared-loader>
<main class="card text-start dialog-wrapper">
  <div class="card-body p-4">
    <h1 class="card-title text-center">{{ 'Sign up' | translate }}</h1>
    <form [formGroup]="form">
      <label for="username">{{ 'Username' | translate }}:</label>
      <input class="form-control mb-4" type="text" formControlName="username" id="username" placeholder="{{ 'Enter your username' | translate }}" required>

      <label for="email">{{ 'Email' | translate }}:</label>
      <input class="form-control mb-4" type="email" formControlName="email" id="email" placeholder="{{ 'example@mail.com' | translate }}" required>

      <label for="phoneNumber">{{ 'Phone Number' | translate }}:</label>
      <input class="form-control mb-3" type="tel" mask="(00) 000 - 00 - 00" prefix="+380" formControlName="phoneNumber" id="phoneNumber" placeholder="{{ 'Enter your phone number' | translate }}">

      <label for="password">{{ 'Password' | translate }}:</label>
      <input class="form-control mb-3" type="password" formControlName="password" id="password" placeholder="{{ 'Enter your password' | translate }}">
    </form>

    <button
      mat-raised-button
      class="w-100 mt-3"
      color="primary"
      [disabled]="form.invalid || form.pristine"
      (click)="submitDialog()">
      {{ 'Save' | translate }}
    </button>
    <button
      mat-raised-button
      class="w-100 mt-1"
      color="warn"
      (click)="closeDialog()">
      {{ 'Go Back' | translate }}
    </button>
  </div>
</main>
