<footer class="footer py-3 border-2 bg-white border-top">
  <div class="container w-100 h-100 text-center mt-2">
    <h2 class="mb-4">Contact us</h2>
    <ul class="list-unstyled d-flex justify-content-center w-100 gap-5">
      <li class="py-2 d-flex gap-3">
        <a href="tel:+380123456789">
          <i class="fa-solid fa-phone fa-2xl text-dark"></i>
        </a>
      </li>
      <li class="py-2 d-flex gap-3">
        <a href="mailto:tangerine@example.com">
          <i class="fa-solid fa-envelope fa-2xl text-dark"></i>
        </a>
      </li>
      <li class="py-2 d-flex gap-3">
        <a href="https://t.me/+380123456789">
          <i class="fa-brands fa-telegram fa-2xl text-dark"></i>
        </a>
      </li>
      <li class="py-2 d-flex gap-3">
        <a href="viber://contact?number=%2B380123456789">
          <i class="fa-brands fa-viber fa-2xl text-dark"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
