<app-shared-loader *ngIf="loading$ | async"></app-shared-loader>

<div class="dialog-wrapper overflow-x-hidden">
  <div class="container border rounded p-4">
    <h2 class="text-center">Receipt Details</h2>
    <form class="mt-4" [formGroup]="receiptForm">
      <div class="d-flex justify-content-between gap-3">
        <div class="form-group col">
          <label for="name">Receipt Name:</label>
          <input type="text" id="name" formControlName="name" placeholder="Type menu name" class="form-control">
        </div>
        <div class="form-group col">
          <label for="name">Receipt Photo:</label>
          <input type="file" id="photo" (change)="onFileSelected($event)" class="form-control">
        </div>
      </div>
      <div class="d-flex justify-content-between gap-3">
        <div class="col">
          <label for="ingredient">Select Ingredients:</label>
          <select id="ingredient" formControlName="ingredient" class="form-control">
            <option disabled value="">Select Ingredient</option>
            <option
              *ngFor="let ingredient of (ingredientOptions$ | async)"
              [value]="ingredient.id">
              {{ ingredient.name }}
            </option>
          </select>
        </div>
      </div>


      <h3 class="mt-3">Ingredients:</h3>
      <div formArrayName="ingredients">
        <div *ngFor="let ingredient of ingredientsControl.value; let i = index" class="card mt-3">
          <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            {{ ingredient.name }}
            <button class="btn btn-danger" (click)="ingredientsControl.removeAt(i)">X</button>
          </div>
        </div>
      </div>

      <button
        class="btn btn-primary w-100 mt-3"
        [disabled]="receiptForm.invalid || receiptForm.pristine"
        (click)="submitDialog()">
        Save
      </button>
      <button
        mat-raised-button
        class="w-100 mt-1"
        color="warn"
        (click)="closeDialog()">
        Go Back
      </button>
    </form>
  </div>
</div>
